.bg-light {
  background-color: #ffffff !important;
}
nav {
  height: 91px;
  padding-right: 41px;
}
.sidenav {
  height: 100vh;
  width: 256px;
  position: fixed;
  z-index: 1;
  top: 94px;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding: 24px 24px 24px 0px;
}
.sidenav__title {
  display: inline-block;
  width: 71%;
  vertical-align: top;
}
.sidenav__img {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
}
.navbar-nav {
  padding-top: 20px;
}
.sidenav a {
  padding: 17px 0 24px 0px;
  text-decoration: none;
  font-size: 17px;
  color: #575962;
  display: block;
}
.sidenav a img {
  margin-right: 15px;
}
.active {
  border-left-style: solid;
  border-width: 5px;
  border-color: #3b99fc;
  left: -5px;
}
.sideNavItem {
  padding-left: 34px;
}
.main {
  height: 100%;
  margin-left: 256px; /* Same as the width of the sidenav */
  padding: 103px 11px 0px 11px;
  background: #f5f6fa;
}
.navbar-brand {
  border-right: 2px solid #f5f6f7;
}
.navbar-brand img {
  width: 152px;
  height: 52px;
  margin: 27px 51px 12px 36px;
}
.main .subTitle {
  font-family: "roboto";
  font-size: 18px;
}

#title-card {
  padding-top: 20px;
}

#title-card #title {
  font-size: 18px;
  font-family: roboto;
}

.card {
  border: none;
  margin: 10px;
}
.main .card-body {
  padding: 0.7rem;
}

.form-section {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
}

.section-Title {
  font-size: 25px;
  font-weight: 400;
  padding: 25px 25px 13px 20px;
  color: #31373d;
}
.section-content {
  padding: 25px;
}

.section-subTitle {
  font-size: 16px;
  color: #000;
}
.subMenu {
  padding: 0px;
}
.subMenu div {
  padding-left: 33%;
}
.subMenu a {
  padding-top: 35px;
  padding-bottom: 0px;
}

.searchBar {
  background: url(/icon_search.png) no-repeat;
  background-position: 92% 55%;
}

.nav-link__black-font {
  color: #000000;
}
.nav__icon {
  vertical-align: top;
  margin-top: 3px;
}
.nav__Item-padding {
  margin-right: 16px;
}
.nav__usericon-margin {
  margin-right: 3px;
}
.nav__carticon-margin {
  margin-right: 3px;
}
.nav__navItem-Padding {
  margin-right: 24px;
}
.nav__navItem-cart {
  display: inline-block;
}
.nav__navItem-cart p {
  margin: 0px;
}
.nav__navItem-cart-Padding {
  margin-right: 38px;
}
.nav__navItem-cart-balance {
  font-weight: 500;
}
.nav__navItem-cart-Expriy {
  font-size: 12px;
  line-height: 20px;
  color: black;
}
.nav__navItem-User-Padding {
  margin-right: 17px;
}

.navDropdown {
  width: 188px !important;
  height: 238px;
  top: 112%;
  left: -36px;
}

.drowdown-menu__item {
  margin-top: 2px;
  margin-bottom: 11px;
  font-weight: 300;
  font-size: 14px;
}
.drowdown-menu__divider {
  border-bottom: 1px solid #f1f1f3;
}

.drowdown-menu__firstItem {
  margin-top: 11px;
}
#navDropdown .dropdown-item.active,
.dropdown-item:active {
  color: unset;
  background-color: #f8f9fa;
}
.hide {
  display: none;
}
.logout__font {
  color: #212529;
}

.createContact__dropdown-menu {
  top: 43px !important;
  overflow: scroll;
  max-height: 200px;
  transform: translate3d(0px, 0px, 0px) !important;
}

.daterange-block {
  width: 207px;
  height: 32px;
  padding: 5px 8px;
  font-size: 15px;
  color: #4D4F5C;
  margin-left: 6px;
}