.marginButtonZero {
    margin-bottom: 0px !important;
}

.paddingleftZero {
    padding-left: 0px !important;
}

.marginTop5 {
    margin-top: 5px;
}

.panelPadding {
    padding-top: 8px !important;
    padding-bottom: 4px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.radius5px {
    border-radius: 5px !important;
}

.color {
    color: #0d47a1 !important;
}

.fontSize {
    font-size: 20px !important;
}

.fontPositon---21 {
    position: relative;
    top: -21px;
}

.fontPositon---13 {
    position: relative;
    top: -13px;
}

.fontSize18 {
    font-size: 18px;
}

.fontSize14 {
    font-size: 14px;
}

.fontSize12 {
    font-size: 12px !important;
}

.bgColor {
    background-color: #ecf1f8 !important;
}

.starPosition {
    position: relative !important;
    top: 7px !important;
}

.paddingLeft--5px {
    padding-left: 5px;
}

.paddingLeft--10px {
    padding-left: 10px;
}

.width60 {
    width: 95% !important;
}

.fontSize36 {
    font-size: 36px;
}

.fontSize30 {
    font-size: 30px;
}



.pricePosition {
    height: 0px;
    position: relative;
    top: -23px;
    padding-right: 15px;
}

.pricePosition2 {
    height: 0px;
    position: relative;
    top: -80px;
    padding-right: 15px;
}

.salePricePosition {
    position: relative;
    bottom: -20px;
}

.top---2 {
    position: relative;
    top: -2px;
}

.star {
    position: relative;
    top: -2px;
}

.post {
    bottom: -20px;
    position: relative;
}


.price--1 {
    position: relative;
    bottom: -40px;
}

.price--2 {
    position: relative;
    bottom: -25px;
}

.price--3 {
    position: inherit;
}

.compareBtn {
    padding-right: 10px;
    z-index: 10;

}


.checkbox-compare[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #0d47a1;
    background-color: #0d47a1;
    z-index: 10;
}

.checkbox-compare[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    border: 2px solid #0d47a1;
    background-color: transparent;
    z-index: 10;
}

.checkbox-compare[type="checkbox"].filled-in:checked+span:not(.lever):before {
    z-index: 11;
}


.fontSize--30 {
    font-size: 30px;
}

.fontSize--26 {
    font-size: 26px;
}

.textRight {
    text-align: right;
}

.imgStyle {
    max-width: -webkit-fill-available;
    border-radius: 5px;
}

.position--relative {
    position: relative;
}

.position--absolute {
    position: absolute;
}

.bottom--0 {
    bottom: 0px;
}