.pict {
    display: inline-block;

}

.commentBox label {
    font-size: 15px;
    margin: 0px 2px;
}

.btnColorBlue {
    background-color: #0d47a1 !important;
}

.btnColorBlue:hover {
    background-color: #2357a9 !important;
}

.input-field .prefix.active {
    color: #0d47a1 !important;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0d47a1 !important;
    box-shadow: 0 1px 0 0 #0d47a1 !important;
}

textarea.materialize-textarea:focus:not([readonly])+label {
    color: #0d47a1 !important;

}