.button__next {
  background-color: #0d47a1 !important;
  color: white !important;
  margin: 0px 30%;
}
.date__select {
  height: 425px !important;
  width: 500px !important;
}
.rbc-event.rbc-event-allday.rbc-event-continues-after {
  line-height: 1;
}
.rbc-event.rbc-event-allday.rbc-event-continues-prior {
  line-height: 1;
}
.total__cost {
  color: #0d47a1 !important;
  font-size: 20px !important;
  margin: 0px 40%;
}
.total__cost--value {
  color: #0d47a1 !important;
  font-size: 30px !important;
}
.comfrim__radio {
  margin: 20px 20% !important;
}
.selector__text {
  color: #0d47a1 !important;
}
.title__text {
  padding: 0px 0px 10px 90px;
  margin-top: 0px;
}
