.popUp {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.25);
}

.popUp-background {
    position: absolute;
    left: 23%;
    right: 23%;
    top: 20%;
    bottom: 19%;
    margin: auto;
    background: #f9fbfd;
    border-radius: 5px;
    box-shadow: 2px 2px 15px gray;
}

.popUp--container {
    margin: 2%;
}

.popUp--btn {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 134px;
    height: 36px;
    line-height: 35px;
    margin: 10px 20px 10px 20px;
    border: 1px solid #0d47a1;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0px grey;
}

.btn--blue {
    background: #0d47a1;
    color: white;
}

.btn--blue:hover {
    background: #2357a9;
}

.btn--white {
    background: white;
    border: 0.5px solid #0d47a1;
    color: #0d47a1;
}

.btn--white:hover {
    background: #f9fafc;
}

.btn--center {
    text-align: center;
}

.text--blue {
    color: #0d47a1;
}

.tour--scroll {
    overflow-y: scroll;
    height: 410px;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #0d47a1;
    background-color: #0d47a1;
}

/* .radio--span::before {
    border: 2px solid #0d47a1;
    background-color: #0d47a1;
}

.radio--span::after {
    border: 2px solid #0d47a1;
    background-color: #0d47a1;
} */

.infoText {
    font-size: 20px;
    line-height: 2;
    color: #0d47a1;
}

.text-center {
    text-align: center;
}