.img--background {
    filter: brightness(0.5);
    height: initial;
    width: -webkit-fill-available;
    position: relative;
    top: -22vh;
}

.div--background {
    height: 50vh;
    overflow: hidden;
    box-shadow: 0px 5px 3px grey;
    background-image: url("/image/searchBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -100px;
    filter: brightness(0.5);
}

.bg--text {
    z-index: 1;
    color: white;
    padding: 25%
}