.basicInfo {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 10px;
}
.basicInfo__img {
  max-height: 100px;
}

.basinInfo__card {
  padding: 20px 33px;
}

.basic__column {
  display: inline-block;
  width: 50%;
}
.basicInfo__column--title {
  display: block;
  text-align: RIGHT;
}

.basicInfo__column--content {
  display: block;
  text-align: left;
}

.basicInfo__columnInfo--title {
  display: inline-block;
  width: 35%;
}
.basicInfo__columnInfo--content {
  display: inline-block;
  width: 65%;
}

.basicInfo__columnInput--title {
  display: block;
  line-height: 3.1;
  text-align: RIGHT;
  margin-bottom: 8px;
  padding: 0px 10px;
}

.basicInfo__columnInput--content {
  display: block;
  text-align: left;
}
